@{
    Layout = null;
}

<!DOCTYPE html> 
<html> 

    <head>
	    <meta charset="utf-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
		
	    <title>Field Hazard Entry</title>			
			
	    <link href="http://fonts.googleapis.com/css?family=Six+Caps" rel="stylesheet" type="text/css" />		

        @if (Request.UserAgent.ToLower().Contains("android"))
        {
            @Html.CSS("android.css")        
        }
        else
        {
            @Html.CSS("mobile.css")
        }
    </head> 

    <body> 
	    <div id="header">
		    <h1 id="app-title">Real-Time Hazard Entry  <span id="userCount">1 User</span></h1>
	    </div>
	    <div id="map"></div>
	    <div id="path-menu">
		    <input id="menu" type="checkbox" class="menuControl" />
		    <label for="menu">
			    <div class="circle-container">
				    <button class="circle">&#10006;</button>
			    </div>
		    </label>
		    <ul class="items">
			    <li id="fire" data-type="fire" class="tool"></li>
			    <li id="deaths" data-type="deaths" class="tool"></li>
			    <li id="road-damage" data-type="road-damage" class="tool"></li>
			    <li id="road-impassable" data-type="road-impassable" class="tool"></li>
			    <li id="damaged-building" data-type="damaged-building" class="tool"></li>
			    <li id="destroyed-building" data-type="destroyed-building" class="tool"></li>
			    <li id="gps" class="tool"></li>
		    </ul>
	    </div>
		
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	    @Html.Script("jquery.signalR.min.js")
        <script src="@Url.Content("~/signalr/hubs")" type="text/javascript"></script>

        @Html.Script("leaflet-0.3/leaflet.js")
        @Html.Script("microevent.js")
        @Html.Script("move.min.js")
        @Html.Script("iowrapper.js")
        @Html.Script("map.mobile.controller.js")
         
        @*@Html.Script("damageassessmentmobile.debug.js", "damageassessmentmobile.min.js")*@

        <script type="text/javascript">
            $(function () {
                Map.Controller.init({
                    imageBaseUrl: '@Url.Content("~/public/images/")'
                });
            });  		
	    </script> 
        
        @Html.Analytics("UA-22787686-6", "signalr.dtsagile.com")     
    </body>
</html>